{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
	
	{% if post.authors %}
      <p>&nbsp;<i class="fa fa-user"></i>&nbsp;{{ " "| append: post.authors  |  markdownify | remove: '<p>' | remove: '</p>' }}</p>
	{% endif %}
    
    {% if post.venue_key and post.date %}
	  {% assign venue = site.data.venues[post.venue_key] %}
	  

    {% endif %}
	
    <p class="archive_link_info">
		&nbsp;<i class="fa fa-info-circle"></i>&nbsp;
		{% if post.track %}
			{{ post.track }}, 
	    {% endif %}
		{% if post.volume %}
			{{ post.volume }}, 
	    {% endif %}
		{% if post.pages %}
			pp. {{ post.pages }}, 
	    {% endif %}
		{% if post.date %}
		<b>{{ post.date | default: "1900-01-01" | date: "%Y" }}</b>
	    {% endif %}
	  
		 {% if post.paperurl %} - [ 
		  <a href="{{ post.paperurl }}" target="_blank">pdf</a>
		  {% if post.package %}
		   / <a href="{{ post.package }}" target="_blank">package</a>
		  {% endif %}
		  {% if post.doiurl %}
		   / <a href="{{ post.doiurl }}" target="_blank">doi</a>
		  {% endif %}
		  ]
		{% endif %}
	
	</p>
    
	
    {% if post.notes %}
    <p>{{ post.notes |  markdownify }}</p>
    {% endif %}
	
    {% if post.distinction %}
    <p>&nbsp;<i class="fa fa-trophy"></i>&nbsp;<span style="color:#c00000;font-weight:bold;">{{ post.distinction }}</span></p>
    {% endif %}
	
    
    {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% endif %}
	
	

  </article>
</div>
